@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Syne+Mono&family=Twinkle+Star&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #f0e2b8;
}

html.dark {
    background-color: #1e1b2e;
}

body {
    font-family: "IBM Plex Sans", "Twemoji Country Flags", sans-serif;
}